@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


body{
    background-color: rgb(75, 75, 75);
    
}

.title{
    font-family: "Karla", sans-serif;
    font-size: 35px;
    color: white;
}

.text{
    font-family: "Karla", sans-serif;
    color:white;
}

.Buttons {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: medium;
    transition-duration: 0.2s;
    background-color: white;
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    cursor:  pointer;
}

.Buttons:hover {
    background-color: rgb(176, 176, 176);
}

.Buttons:active{
    background-color: rgb(72, 72, 72);
}