<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 et RFID</title>
    <link rel="stylesheet" href="/assets/css/esp32.css">
</head>
<body>
    <h1 class="titre">ESP32 et RFID</h1>

    <button id="select-port-btn">Sélectionner un port</button>
    <button id="get-rfid-btn">Récupérer données RFID</button>
    <button id="pick-rfid-btn">Lire Tag RFID</button>

    <p id="esp32-port">Statut ESP32 : En attente...</p>
    <p id="esp32-data">Données ESP32 : En attente...</p>
    <p id="rfid-data">Données RFID : En attente...</p>
    <p id="rfid-tag">Tag RFID : En attente...</p>

    <script src = "/assets/js/get_rfid.js"></script>
</body>