<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <title>ESP32 COM</title>
</head>
<body>

    <h2 class="title">ESP32 Port COM</h2>
    <p id="esp32-port" class="text">Recherche en cours...</p>
    <div class="Button-Div">
        <button class="Buttons" id="detect-esp32-btn">Détecter ESP32</button>
        <button class="Buttons" id="select-port-btn">Sélectionner un port</button>
    </div>
    <!-- Boutons avec des ID différents -->

    <script src="/assets/js/popup.js"></script>

</body>
</html>
