<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <title>ESP32 COM</title>
</head>
<body>
    <h2>ESP32 Port COM</h2>
    <p id="esp32-port">Recherche en cours...</p>
    
    <!-- Boutons avec des ID différents -->
    <button id="detect-esp32-btn">Détecter ESP32</button>
    <button id="select-port-btn">Sélectionner un port</button>

    <script src="/assets/js/popup.js"></script>
</body>
</html>
